server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://210.211.125.205:3306/kbvaamfl_mymusic_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: kbvaamfl_TrungHieu
    password: Doanhieu@1
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

logging:
  level:
    org.springframework.security: DEBUG
